@charset "UTF-8";
body{
    margin:0px;
}
.Nav_name{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: 20px;
    
}


.circle-image {
            width: 50px;
            height: 50px; 
            overflow: hidden; 
            border-radius: 50%;
            display: flex; 
            align-items: center; 
            justify-content: center;
            border: 1px solid #ddd;
            margin-left:2%;
            margin-top:2%;
        }

        .circle-image img {
            width: 100%;
            height: auto;
        }

.vf{
    margin-left: 550px;
    image-rendering: auto;
    
}


.box{
	border: solid rgb(192, 192, 192) 1px;
	padding: 10px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}

ul{
    border: solid red 1px;
    padding: 10px;
    display: inline;
    margin-inline: 10px;
    text-decoration-line: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 5px;
}

ul:hover{
	 background-color: gainsboro;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    cursor: pointer;
    color: red;

}

.page2{
    width: 100%;
}

.search-input{
    padding: 7px 20px;
    border: solid skyblue 1px;
    border-radius: 5px;
    margin-left:30px;
}

.se{
	margin-left:30px;
}

.cl{
	text-align:center;
	border:solid black 1px;
	padding:3px;
	margin-right:30%;
  	margin-left:30%;
  	border-radius:5px;
  	background-color:rgb(240, 240, 240);
}

.sb{
	border:solid black 1px;
	background-color: rgb(209, 61, 61);
}

.search{
    background-color: rgb(209, 61, 61);
    padding: 10px;
    border: solid rgb(209, 61, 61) ;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}
.pagination{
    margin-left: 88%;
    border: solid black 0px ;
    width: 140px;
}

.hm{
  	margin-left:90%;
  	color:blue;
  	border:solid gainsboro 1px;
  	padding: 5px;
  	border-radius: 5px;
  	
  }
  
  .hm.hover{
  	background-color: #f0f0f0;
  	color:white;
  }

.page-number{
    background-color:skyblue;
    padding: 2px;
}


td{
    padding:20px ;
    background-color: rgb(235, 235, 235);
}

div.dataTables_filter {
        float: right;
        margin-bottom: 10px; 
    }

    
    div.dt-buttons {
        margin-right: 20px; 
        margin-bottom: 20px; 
    }


    #myTable_wrapper {
        padding-top: 20px;
    }

 
    .dt-button {
        margin-right: 10px; 
    }


label{
    margin-left: 780px;
    padding: 10px;
    font-weight: bold;
}

.search-input2{
    border: solid skyblue 1px;
    border-radius: 5px;
    padding: 5px;
}

.foot{
    border:solid white;
    background-color: rgb(253, 74, 74);
    padding: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #f14f43; 
  }
  
  .social-icons a {
    margin: 5 5px;
    background-color: white;
    color: #f14f43;
    padding: 10px;
    margin-inline: 15px;
    font-size: 20px;
    border-radius: 35px;
  }
  
  .social-icons a,#f{
    margin: 0 5px;
    background-color: white;
    color: #f14f43;
    padding: 5px;
    margin-inline: 5px;
    font-size: 15px;
    border-radius: 10px;
  }
.social-icons:hover{
	transform: scale(1.1);
}

  
  .controls{
    margin: 10px;
    border: solid gray;
    background-color: gray;
    size: 10px;
    padding: 2px;
    margin-right: 70%;
    border-radius: 5px;
}

.but,#columnVisibility{
    border: solid gray;
    background-color: gray;
    cursor: pointer;
    padding: 2px;
    color: white;
    font-size: 15px;
    size: 10px;
    
}

.but:hover{
    background-color: rgb(78, 77, 77);
}

.fi{
	  border-radius: 10px;
      transition: transform 0.3s ease;
      margin-right: 100px;
      justify-content: center;
    margin-left: 150px;
	border-radius: 5px;
  }
  .fi:hover {
        transform: scale(1.1);
    }
  
 .footer-section {
    
    margin: 0;
    font-size: 16px;
    color: #fff;
  }

  .edit{
    background-color: rgb(41, 154, 199);
    padding: 2px;
    margin:5px;
    border-radius: 5px;
    border: solid rgb(41, 154, 199) ;
    cursor: pointer;
}
.delete{
    background-color: rgb(199, 41, 41);
    padding: 2px;
    
    margin-left: 2px;
    border-radius: 5px;
    border: solid rgb(199, 41, 41);
    cursor: pointer;
    
    
}

@media only screen and (max-width: 768px) {
    .Nav_name {
        margin: 5px;
        display: flex;
        flex-direction: column;
    }
    .vf {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .search-input {
        width: calc(100% - 40px); 
        margin-left: 0;
    }

    .se {
        margin-left: 0;
        text-align: center;
    }

    .cl {
        margin-right: 5%;
        margin-left: 5%;
    }

    .hm {
        margin-left: 5%;
        margin-right: 5%;
    }

    table {
        width: 100%;
        font-size: 12px; 
    }

    th, td {
        padding: 5px; 
        font-size: 20px;
    }

   table {
        max-height: 300px; 
        overflow-y: auto; 
        display: block;
    }
    .footer {
        flex-direction: column; 
        align-items: center;
    }

    .controls {
        margin-right: 0; 
    }
     #typing-animation{
		display: none;
	}
	.search{
		margin-left: 40%;
	}
}
