<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>uploading</display-name>
    <servlet-name>uploading</servlet-name>
    <servlet-class>com.Servlet.uploading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploading</servlet-name>
    <url-pattern>/uploading</url-pattern>
  </servlet-mapping>
  <display-name>TaskVfly</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fieupload</display-name>
    <servlet-name>fieupload</servlet-name>
    <servlet-class>fieupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fieupload</servlet-name>
    <url-pattern>/fieupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yash</display-name>
    <servlet-name>yash</servlet-name>
    <servlet-class>yash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yash</servlet-name>
    <url-pattern>/yash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client_servlet</display-name>
    <servlet-name>Client_servlet</servlet-name>
    <servlet-class>Client_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client_servlet</servlet-name>
    <url-pattern>/Client_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlets</display-name>
    <servlet-name>ImageServlets</servlet-name>
    <servlet-class>ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlets</servlet-name>
    <url-pattern>/ImageServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReferenceServlet</display-name>
    <servlet-name>EditReferenceServlet</servlet-name>
    <servlet-class>EditReferenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReferenceServlet</servlet-name>
    <url-pattern>/EditReferenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>